doctype html
html(lang="ru-RU")
    include ../common/head
    body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    <!--[if lte IE 11]>
    <style type="text/css">
        .wrapper {width: 100%}
    </style>
    <![endif]-->
    .wrapper.admin-wrapper
        .admin-heading
            .admin-heading__title Панель администрирования
            a(href='index').admin-heading__back Вернуться на сайт
        .admin-tabs.tabs-nav
            each tab in ['Обо мне', 'Блог', 'Мои работы', 'tab-4']
                .admin-tabs__item
                    a(class='admin-tabs__link' href='#')= tab
        .tabs-content
            form.admin-about#skillForm(method="POST")
                .status
                .admin-skills
                    .status
                    ul.admin-skills
                        each skill in items
                            li.admin-skill
                                .admin-skill__title= skill.section
                                ul.admin-skill__items
                                    each lineSkill in skill.items
                                        li.admin-skill__item
                                            .admin-skill__name= lineSkill.name
                                            .admin-skill__value
                                                input.admin-skill__inp(type='text' name=`${lineSkill.name}` value=`${lineSkill.value}`)
                                            span.admin-skill__perc %
                input(type="submit" value="Сохранить" name="").save-btn.admin-btn
                input(type="reset" value="Очистить" name="").save-btn.admin-btn

            form.admin-blog#blog( method="POST")
                .admin-blog__title Страница "Блог"
                .status
                .admin-add
                    .admin-add__title Добавить запись
                    input(class='admin-add__input' type='text' name='title' placeholder='Название').form__input
                    -
                        var data = new Date().toLocaleDateString('ru', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit'
                        })
                    input(class='admin-add__input' name="date" type="date" value=`${data}` placeholder='Дата').form__input
                    textarea(class='admin-add__input' name='text' rows='6' placeholder='Содержание')
                input(name="" type="submit" value="Отправить").blog-btn.admin-btn.form__btn-send
                input(name="" type="reset" value="Очистить").blog-btn.admin-btn.form__btn-reset
            form.admin-works#upload(action='/upload' method="POST" enctype="multipart/form-data")
                .admin-works__title Страница "Мои работы"
                .status
                .admin-work
                    .admin-work__title Добавить работу
                    input(name="name" type="text" placeholder="Описание работы" class='admin-work__input')#file-desc
                    input(class='admin-work__input' type='text' name='url' placeholder='http://')#file-url
                    input(name="photo" type="file" required accept="image/*").new-work-btn#file-select
                    input(name="" type="submit" value="Отправить").works-btn.admin-btn
                    input(name="" type="reset" value="Очистить").works-btn.admin-btn

    .Background(style='display: none')
        canvas.Background-canvas